@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Medium.eot);
  src: local('TT Lakes Medium'), local('TTLakes-Medium'),
    url(./fonts/TTLakes-Medium.eot?#iefix) format('embedded-opentype'),
    url(./fonts/TTLakes-Medium.woff2) format('woff2'),
    url(./fonts/TTLakes-Medium.woff) format('woff'),
    url(./fonts/TTLakes-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url(./fonts/TTLakesCompressed-Black.eot);
  src: local('TT Lakes Compressed Black'), local('TTLakesCompressed-Black'),
    url(./fonts/TTLakesCompressed-Black.eot?#iefix) format('embedded-opentype'),
    url(./fonts/TTLakesCompressed-Black.woff2) format('woff2'),
    url(./fonts/TTLakesCompressed-Black.woff) format('woff'),
    url(./fonts/TTLakesCompressed-Black.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url(./fonts/TTLakesCondensed-Bold.eot);
  src: local('TT Lakes Condensed Bold'), local('TTLakesCondensed-Bold'),
    url(./fonts/TTLakesCondensed-Bold.eot?#iefix) format('embedded-opentype'),
    url(./fonts/TTLakesCondensed-Bold.woff2) format('woff2'),
    url(./fonts/TTLakesCondensed-Bold.woff) format('woff'),
    url(./fonts/TTLakesCondensed-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

@charset "UTF-8";
.modal__sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  transition: transform 0.5s;
  transform: translateX(-360px);
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
@media (min-width: 1440px) {
  .modal__sidebar {
    position: absolute;
  }
}
@media (min-width: 430px) {
  .modal__sidebar {
    width: 320px;
  }
}
.modal__sidebar::-webkit-scrollbar {
  display: none;
}
.modal__sidebar__messenger {
  display: flex;
  padding: 0;
}
.modal__sidebar__messenger li .button {
  margin-right: 14px;
}
.modal__sidebar__language {
  display: flex;
  padding: 0;
  font-family: "TT Lakes";
  font-size: 16px;
  font-line-height: 24px;
  letter-spacing: -0.2px;
}
.modal__sidebar__language .active > a {
  color: #7e7e82;
}
.modal__sidebar__language li > a {
  color: #1b1c21;
  margin-right: 3.5px;
  text-decoration: none;
}
.modal__sidebar ~ .container {
  height: 100vh;
}
.modal__sidebar ~ .container .header__logo {
  width: 0;
}
.modal__sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 88px;
}
.modal__sidebar__header--left {
  display: flex;
  align-items: center;
  -moz-column-gap: 17px;
       column-gap: 17px;
}
.modal__sidebar__nav .link-list__item {
  position: relative;
}
.modal__sidebar__nav .link-list__item > a {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  display: block;
  padding: 14px;
  padding-left: 28px;
  text-decoration: none;
}
.modal__sidebar__nav .link-list__item > a:hover {
  color: #7e7e82;
}
.modal__sidebar__nav .link-list__item.active > a {
  color: #7e7e82;
}
.modal__sidebar__nav .link-list__item.active:before {
  position: absolute;
  top: 20%;
  content: "";
  width: 4px;
  height: 60%;
  border-radius: 2px;
  background-color: #41f6d7;
}
.modal__sidebar__footer {
  padding-left: 20px;
}
.modal__sidebar__footer--email {
  font-family: "TT Lakes";
  font-size: 16px;
  font-line-height: 24px;
  font-letter-spacing: -0.2px;
  font-color: #1b1c21;
  margin-bottom: 4px;
}
.modal__sidebar__footer--number {
  font-family: "TT Lakes";
  font-size: 24px;
  font-line-height: 32px;
  font-letter-spacing: -0.6px;
  font-color: #1b1c21;
  margin-bottom: 40px;
}
.modal__callback {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: #fff;
  width: 100%;
  min-height: 100vh;
  max-width: 425px;
  transition: transform 1s;
  transform: translateX(360px);
}
@media (min-width: 426px) {
  .modal__callback {
    max-width: 320px;
  }
}
.modal__callback .form #text {
  min-height: 120px;
}
.modal__callback .form--title {
  display: block;
  height: 40px;
  padding-left: 30px;
  border-left: 4px solid #41f6d7;
  padding-top: 4px;
  margin: 32px 0 24px 0;
}
.modal__callback .form--title h1 {
  margin: 0;
  color: #1b1c21;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
}
.modal__callback .form--label-input {
  display: block;
  width: 100%;
  padding: 0 32px;
}
.modal__callback .form--input {
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  color: #b5b6bc;
  width: 100%;
  height: 48px;
  margin-bottom: 16px;
}
.modal__callback .form--input::-webkit-input-placeholder {
  position: absolute;
  top: 12px;
  left: 16px;
}
.modal__callback .form--input::-moz-placeholder {
  position: absolute;
  top: 12px;
  left: 16px;
}
.modal__callback .form--input:-ms-input-placeholder {
  position: absolute;
  top: 12px;
  left: 16px;
}
.modal__callback .form--input::placeholder {
  position: absolute;
  top: 12px;
  left: 16px;
}
.modal__callback .form--offer {
  display: block;
  padding: 0 32px;
}
.modal__callback .form--offer p {
  font-size: 14px;
  line-height: 16px;
  color: #7e7e82;
}
.modal__callback .form--offer span {
  color: #ff3e79;
}
.modal__callback .form--label-button {
  display: block;
  padding: 16px 32px;
  float: right;
}
.modal__callback--close {
  position: relative;
  top: 24px;
  left: 16px;
}
@media (min-width: 426px) {
  .modal__callback--close {
    position: absolute;
    top: 32px;
    left: -73px;
  }
}

.section-header {
  display: flex;
  padding: 16px;
  align-items: center;
  margin-bottom: 16px;
  background: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
  box-sizing: content-box;
}
.section-header--text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82;
}

.slider__container {
  padding: 0 16px;
  position: relative;
  width: 100%;
}
@media (min-width: 769px) {
  .slider__container {
    padding-left: 24px;
  }
}
.slider__container .button--name--read-more {
  display: none;
}
@media (min-width: 769px) {
  .slider__container .button--name--read-more {
    display: flex;
  }
}
.slider__container .slider {
  display: flex;
  transition: transform 0.5s ease;
}
@media (min-width: 769px) {
  .slider__container .slider {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 1440px) {
  .slider__container .slider {
    justify-content: start;
  }
}
.slider__container .slider__item {
  margin-right: 16px;
}
@media (min-width: 769px) {
  .slider__container .slider__item {
    margin-bottom: 16px;
  }
}
.slider__container .slider__pagination {
  display: flex;
  justify-content: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  margin-top: 16px;
}
@media (min-width: 769px) {
  .slider__container .slider__pagination {
    display: none;
  }
}
.slider__container .slider__dot {
  cursor: pointer;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #dddddd;
  transition: background-color 0.2s;
}
.slider__container .slider__dot.active {
  background-color: #b5b6bc;
}

.read-more__list {
  transition: height 0.5s ease-out;
}
@media (min-width: 769px) {
  .read-more__list {
    overflow-y: hidden;
  }
}

.button {
  cursor: pointer;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
}
.button--name--burger {
  border-radius: 50%;
  background: #ff3e79 url(./static/button-burger.svg) no-repeat 50% 50%;
  margin-right: 16px;
}
@media (min-width: 769px) {
  .button--name--burger {
    margin: 0;
  }
}
.button--name--close {
  border-radius: 50%;
  background: #ff3e79 url(./static/button-close.svg) no-repeat 50% 50%;
  margin-right: 16px;
}
@media (min-width: 769px) {
  .button--name--close {
    margin: 0;
  }
}
.button--name--search {
  border-radius: 50%;
  background: #ff3e79 url(./static/button-search.svg) no-repeat 50% 50%;
}
.button--name--phone {
  border-radius: 50%;
  background: #ff3e79 url(./static/button-phone.svg) no-repeat 50% 50%;
}
.button--name--chat {
  border-radius: 50%;
  background: #ff3e79 url(./static/button-chat.svg) no-repeat 50% 50%;
}
.button--name--profile {
  border-radius: 50%;
  background: #ff3e79 url(./static/button-profile.svg) no-repeat 50% 50%;
}
.button--name--repair {
  border-radius: 50%;
  background: #ff3e79 url(./static/button-repair.svg) no-repeat 50% 50%;
  width: 40px;
  height: 40px;
  margin: 0 16px 0 20px;
}
@media (min-width: 1440px) {
  .button--name--repair {
    margin: 0;
  }
}
.button--name--checkstatus {
  border-radius: 50%;
  background: #ff3e79 url(./static/button-checkstatus.svg) no-repeat 50% 50%;
  width: 40px;
  height: 40px;
}
.button--name--read-more {
  display: flex;
  align-items: center;
  height: 48px;
  width: 100%;
  -moz-column-gap: 8px;
       column-gap: 8px;
  border: 0;
  background: none;
}
.button--name--read-more p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
}
.button--name--order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
  padding: 4px;
  padding-left: 12px;
  width: 119px;
  height: 32px;
  background-color: #ff3e79;
  border-radius: 16px;
}
.button--name--order p {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  color: #fff;
}

#blackout {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 50;
  background-color: #fff;
  opacity: 0.9;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 88px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #fff;
  border-bottom: 1px solid #d9fff5;
}
@media (min-width: 1440px) {
  .header {
    position: absolute;
    background: none;
    border: none;
    padding-right: 30px;
  }
}
.header--content {
  display: flex;
  align-items: center;
}
.header__button {
  display: flex;
  text-decoration: none;
}
.header__button p {
  display: none;
}
@media (min-width: 1440px) {
  .header__button p {
    display: inherit;
    align-items: center;
    margin: 0 8px 0 32px;
    color: #1b1c21;
  }
}
.header__divider {
  width: 2px;
  height: 32px;
  background: #eaeaea;
  border-radius: 1px;
}
@media (min-width: 1440px) {
  .header__divider {
    display: none;
  }
}
.header__divider--left {
  display: none;
}
@media (min-width: 769px) {
  .header__divider--left {
    display: block;
    margin: 0 20px;
  }
}

.main {
  margin-top: 112px;
  width: 100vw;
  overflow: hidden;
}
@media (min-width: 1440px) {
  .main {
    margin-top: 0;
    margin-left: 320px;
    width: 75%;
    max-width: 1500px;
  }
}
.main__header {
  position: relative;
  margin: 24px 0;
  padding-left: 16px;
}
.main__header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 40px;
  background: #41f6d7;
  border-radius: 0 4px 4px 0;
}
.main__header--text {
  margin: 0;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1b1c21;
}

.main-nav {
  position: relative;
  margin: 24px 0;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.main-nav::-webkit-scrollbar {
  display: none;
}
@media (min-width: 1440px) {
  .main-nav {
    overflow: auto;
  }
}
.main-nav__link-list {
  min-width: 1290px;
  width: 100%;
  display: flex;
  height: auto;
  margin-left: 16px;
}
@media (min-width: 1440px) {
  .main-nav__link-list {
    display: flex;
    height: auto;
    overflow: auto;
    flex-wrap: wrap;
    min-width: 100%;
  }
}
.main-nav__link-list li {
  display: block;
  width: 212px;
}
.main-nav__link {
  display: block;
  height: 40px;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
}
.main-nav__link--active {
  background-color: #fff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}
.main-nav__link--text {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
}
.main-nav__fade {
  position: absolute;
  width: 24px;
  height: 40px;
  top: 0;
  right: 0;
  background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

.about-us {
  position: relative;
  margin-bottom: 24px;
  padding: 0 24px;
}
.about-us--text {
  min-width: 312px;
  overflow: hidden;
}
@media (min-width: 769px) {
  .about-us {
    display: flex;
    -moz-column-gap: 6%;
         column-gap: 6%;
  }
  .about-us--text {
    min-width: 312px;
  }
}
@media (min-width: 769px) and (min-width: 1440px) {
  .about-us--text {
    line-height: 20px;
    letter-spacing: 0.2px;
  }
}
@media (min-width: 769px) {
  .about-us--img {
    min-width: 360px;
    width: auto;
    object-fit: scale-down;
  }
}
.about-us--text p {
  font-size: 14px; /* размер шрифта */
  line-height: 18px; /* межстрочный интервал */
  letter-spacing: 0.2px;
  color: #1b1c21;
}
@media (min-width: 769px) {
  .about-us--text p {
    line-height: 20px;
  }
}

.brands {
  position: relative;
  margin-bottom: 24px;
  overflow: hidden;
  width: 100%;
}
.brands__item--link {
  width: 216px;
  height: 72px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
}

.technique {
  margin-bottom: 24px;
}
.technique__list--text {
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
}
.technique__list--link {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 216px;
  height: 160px;
  padding: 16px;
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  text-decoration: none;
}
.technique__list--link img {
  margin-top: auto;
}

.price {
  margin-bottom: 40px;
}
.price__list {
  display: flex;
}
@media (min-width: 769px) {
  .price__list {
    background: #fff;
    border-radius: 6px;
  }
}
.price__list tbody {
  display: flex;
}
@media (min-width: 769px) {
  .price__list tbody {
    flex-wrap: wrap;
  }
}
.price__list tbody tr {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: #eaeaea 1px solid;
}
@media (min-width: 769px) {
  .price__list tbody tr {
    height: 64px;
    flex-wrap: nowrap;
  }
}
.price__list tbody td {
  width: 100%;
}
@media (min-width: 769px) {
  .price__list tbody td {
    position: relative;
  }
  .price__list tbody td:nth-child(1), .price__list tbody td:nth-child(3), .price__list tbody td:nth-child(5) {
    display: none;
  }
  .price__list tbody td:nth-child(2) {
    min-width: 40%;
    margin-right: auto;
  }
  .price__list tbody td:nth-child(4), .price__list tbody td:nth-child(6), .price__list tbody td:nth-child(7) {
    display: flex;
    justify-content: center;
    width: 20%;
    min-width: 120px;
  }
}
.price__list--item {
  position: relative;
  display: block;
  width: 260px;
  height: 200px;
  padding: 16px;
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  text-decoration: none;
}
.price__list--item img {
  margin-top: auto;
}
@media (min-width: 769px) {
  .price__list--item {
    width: 100%;
    padding: 23px;
    margin-bottom: 0 !important;
    border: none;
    background: none;
    border-radius: none;
  }
}
.price__list--text {
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
}
.price__list--header {
  font-size: 14px;
  line-height: 16px;
  color: #7e7e82;
  mix-blend-mode: normal;
  opacity: 0.72;
  margin-bottom: 4px;
}
.price__list--description {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
  margin-bottom: 16px;
}
@media (min-width: 769px) {
  .price__list--description {
    margin-bottom: 0;
  }
}
.price__list--description:last-child {
  margin: 0;
}
.price__list--button {
  position: absolute;
  bottom: 16px;
  right: 16px;
}
@media (min-width: 769px) {
  .price__list--button {
    position: relative;
    top: 0;
    left: 0;
  }
}
.price__offer {
  margin-top: 16px;
  width: 100%;
}
@media (min-width: 769px) {
  .price__offer {
    width: 421px;
    margin: 24px auto 16px 24px;
  }
}
@media (min-width: 1440px) {
  .price__offer {
    margin: 32px auto 8px 32px;
  }
}
.price__offer--text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1b1c21;
  margin: 0 16px;
  margin-bottom: 16px;
}
.price__offer--link {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  text-decoration: none;
  margin: 0 16px;
}
.price__offer--link span {
  position: relative;
  width: 60%;
}
.price__offer--link span::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -24px;
  width: 24px;
  height: 24px;
  background: url(./static/button-more.svg) no-repeat 50% 50%;
}

.footer {
  text-align: center;
  padding-top: 17px;
  border-top: 1px #d9fff5 solid;
}
@media (min-width: 769px) {
  .footer {
    display: flex;
    height: 105px;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px;
  }
}
@media (min-width: 1440px) {
  .footer {
    margin: 0 32px;
  }
}
.footer p {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #7e7e82;
  mix-blend-mode: normal;
  opacity: 0.72;
}
.footer p:last-child {
  margin-bottom: 19px;
}
@media (min-width: 769px) {
  .footer p {
    margin-right: 35px;
  }
  .footer p:first-child {
    text-align: start;
  }
  .footer p:nth-child(2) {
    text-align: center;
  }
  .footer p:last-child {
    text-align: end;
    margin-right: 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "TT Lakes", sans-serif;
  color: #1b1c21;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  background-color: #f8f8f8;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

/*# sourceMappingURL=style.css.map*/