@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Medium.eot);
  src: local('TT Lakes Medium'), local('TTLakes-Medium'),
    url(./fonts/TTLakes-Medium.eot?#iefix) format('embedded-opentype'),
    url(./fonts/TTLakes-Medium.woff2) format('woff2'),
    url(./fonts/TTLakes-Medium.woff) format('woff'),
    url(./fonts/TTLakes-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url(./fonts/TTLakesCompressed-Black.eot);
  src: local('TT Lakes Compressed Black'), local('TTLakesCompressed-Black'),
    url(./fonts/TTLakesCompressed-Black.eot?#iefix) format('embedded-opentype'),
    url(./fonts/TTLakesCompressed-Black.woff2) format('woff2'),
    url(./fonts/TTLakesCompressed-Black.woff) format('woff'),
    url(./fonts/TTLakesCompressed-Black.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url(./fonts/TTLakesCondensed-Bold.eot);
  src: local('TT Lakes Condensed Bold'), local('TTLakesCondensed-Bold'),
    url(./fonts/TTLakesCondensed-Bold.eot?#iefix) format('embedded-opentype'),
    url(./fonts/TTLakesCondensed-Bold.woff2) format('woff2'),
    url(./fonts/TTLakesCondensed-Bold.woff) format('woff'),
    url(./fonts/TTLakesCondensed-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

.sidebar {
  position: absolute;
  background-color: #ffffff;
  transition: transform 0.5s;
  transform: translateX(-360px);
}
.sidebar--open {
  display: block;
  transform: translateX(0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 360px;
}
.sidebar--open ~ .container {
  display: none;
}
.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 88px;
}
.sidebar__header--left {
  display: flex;
  align-items: center;
  -moz-column-gap: 17px;
       column-gap: 17px;
}
.sidebar__nav .link-list__item {
  position: relative;
}
.sidebar__nav .link-list__item > a {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  display: block;
  padding: 14px;
  padding-left: 28px;
  text-decoration: none;
}
.sidebar__nav .link-list__item.active > a {
  color: #7e7e82;
}
.sidebar__nav .link-list__item.active:before {
  position: absolute;
  top: 20%;
  content: "";
  width: 4px;
  height: 60%;
  border-radius: 2px;
  background-color: #41f6d7;
}
.sidebar__footer {
  padding-left: 20px;
}
.sidebar__footer--email {
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  margin-bottom: 12px;
}
.sidebar__footer--number {
  font-family: "TT Lakes";
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1b1c21;
  margin-bottom: 40px;
}

.messenger {
  display: flex;
  padding: 0;
}
.messenger li .button {
  margin-right: 14px;
}

.language {
  display: flex;
  padding: 0;
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.language__button.active > a {
  color: #7e7e82;
}
.language__button > a {
  color: #1b1c21;
  margin-right: 3.5px;
  text-decoration: none;
}

.header {
  height: 88px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  background-color: #ffffff;
  border-bottom: 1px solid #d9fff5;
}
.header .button--name--repair {
  margin-right: 16px;
  margin-left: 20px;
}
.header__logo {
  margin: 0 auto;
}
.header__divider {
  width: 2px;
  height: 32px;
  background: #eaeaea;
  border-radius: 1px;
}

.main__header {
  position: relative;
  margin: 24px 0;
  padding-left: 16px;
}
.main__header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 40px;
  background: #41f6d7;
  border-radius: 0 4px 4px 0;
}
.main__header--text {
  margin: 0;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1b1c21;
}

.main-nav {
  position: relative;
  margin: 24px 0;
}
.main-nav__link-list {
  height: 40px;
  margin: 0;
  display: flex;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.main-nav__link-list::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.main-nav li:first-child {
  margin-left: 16px;
}
.main-nav__link {
  display: block;
  width: 246px;
  height: 40px;
  padding: 8px 13px;
  text-decoration: none;
  box-sizing: border-box;
}
.main-nav__link--active {
  background-color: #fff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}
.main-nav__link--text {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
}
.main-nav__fade {
  position: absolute;
  width: 24px;
  height: 40px;
  top: 0;
  right: 0;
  background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

.about-us {
  margin-bottom: 24px;
}
.about-us__button {
  margin: 16px 0;
}
.about-us--text {
  padding: 0 16px;
}
.about-us--text p {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
}

.brands {
  margin-bottom: 24px;
}
.brands__list {
  display: flex;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: transform 0.8s ease;
}
.brands__list::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.brands__list li:first-child {
  margin-left: 16px;
}
.brands__list li {
  margin-right: 16px;
}
.brands__list--link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  height: 72px;
  padding: 16px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
}

.technique {
  margin-bottom: 24px;
}
.technique__list {
  display: flex;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: transform 0.8s ease;
}
.technique__list::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.technique__list li:first-child {
  margin-left: 16px;
}
.technique__list li {
  margin-right: 16px;
}
.technique__list--text {
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
}
.technique__list--link {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 240px;
  height: 160px;
  padding: 16px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  text-decoration: none;
}
.technique__list--link img {
  margin-top: auto;
}

.price {
  margin-bottom: 40px;
}
.price__list {
  display: flex;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: transform 0.8s ease;
}
.price__list::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.price__list li:first-child {
  margin-left: 16px;
}
.price__list li {
  margin-right: 16px;
}
.price__list--text {
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
}
.price__list--header {
  font-size: 14px;
  line-height: 16px;
  color: #7e7e82;
  mix-blend-mode: normal;
  opacity: 0.72;
  margin-bottom: 4px;
}
.price__list--description {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
  margin-bottom: 16px;
}
.price__list--description:last-child {
  margin: 0;
}
.price__list--button {
  position: absolute;
  bottom: 16px;
  right: 16px;
}
.price__list--link {
  position: relative;
  display: block;
  width: 260px;
  height: 200px;
  padding: 16px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  text-decoration: none;
}
.price__list--link img {
  margin-top: auto;
}
.price__offer {
  margin-top: 16px;
  width: 100%;
}
.price__offer--text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1b1c21;
  margin: 0 16px;
  margin-bottom: 16px;
}
.price__offer--link {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  text-decoration: none;
  margin: 0 16px;
}
.price__offer--link span {
  position: relative;
  width: 60%;
}
.price__offer--link span::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -24px;
  width: 24px;
  height: 24px;
  background: url(./static/button-more.svg) no-repeat 50% 50%;
}

.footer {
  text-align: center;
  padding-top: 17px;
}
.footer p {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #7e7e82;
  mix-blend-mode: normal;
  opacity: 0.72;
}
.footer p:last-child {
  margin-bottom: 19px;
}

.section-header {
  display: flex;
  padding: 16px;
  align-items: center;
  margin-bottom: 16px;
  background: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
  box-sizing: content-box;
}
.section-header--text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82;
}

.slider {
  position: relative;
}
.slider input[type=radio] {
  display: none;
}
.slider #btn-1:checked ~ .slider__controls label[for=btn-1],
.slider #btn-2:checked ~ .slider__controls label[for=btn-2],
.slider #btn-3:checked ~ .slider__controls label[for=btn-3],
.slider #btn-4:checked ~ .slider__controls label[for=btn-4],
.slider #btn-5:checked ~ .slider__controls label[for=btn-5],
.slider #btn-6:checked ~ .slider__controls label[for=btn-6],
.slider #btn-7:checked ~ .slider__controls label[for=btn-7],
.slider #btn-8:checked ~ .slider__controls label[for=btn-8],
.slider #btn-9:checked ~ .slider__controls label[for=btn-9] {
  background-color: #b5b6bc;
}
.slider__controls {
  text-align: center;
}
.slider__controls label {
  display: inline-block;
  margin: 0 6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #dddddd;
  cursor: pointer;
  transition: background-color 0.2s;
}
.slider__fade {
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}
.slider__fade--mode--brands {
  height: 80px;
  width: 24px;
}
.slider__fade--mode--technique {
  height: 160px;
  width: 24px;
}
.slider__fade--mode--price {
  height: 200px;
  width: 24px;
}

.button {
  cursor: pointer;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
}
.button--name--burger {
  border-radius: 50%;
  background: #ff3e79 url(./static/button-burger.svg) no-repeat 50% 50%;
}
.button--name--close {
  border-radius: 50%;
  background: #ff3e79 url(./static/button-close.svg) no-repeat 50% 50%;
}
.button--name--search {
  border-radius: 50%;
  background: #ff3e79 url(./static/button-search.svg) no-repeat 50% 50%;
}
.button--name--phone {
  border-radius: 50%;
  background: #ff3e79 url(./static/button-phone.svg) no-repeat 50% 50%;
}
.button--name--chat {
  border-radius: 50%;
  background: #ff3e79 url(./static/button-chat.svg) no-repeat 50% 50%;
}
.button--name--profile {
  border-radius: 50%;
  background: #ff3e79 url(./static/button-profile.svg) no-repeat 50% 50%;
}
.button--name--repair {
  border-radius: 50%;
  background: #ff3e79 url(./static/button-repair.svg) no-repeat 50% 50%;
}
.button--name--checkstatus {
  border-radius: 50%;
  background: #ff3e79 url(./static/button-checkstatus.svg) no-repeat 50% 50%;
}
.button--name--read-more {
  display: flex;
  align-items: center;
  width: 100%;
  -moz-column-gap: 8px;
       column-gap: 8px;
  border: 0;
  background: none;
}
.button--name--read-more p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
}
.button--name--order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
  padding: 4px;
  padding-left: 12px;
  width: 119px;
  height: 32px;
  background-color: #ff3e79;
  border-radius: 16px;
}
.button--name--order p {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  color: #fff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "TT Lakes", sans-serif;
  background-color: #f8f8f8;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

/*# sourceMappingURL=style.css.map*/