.button {
  cursor: pointer;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  &--name {
    &--burger {
      border-radius: 50%;
      background: #ff3e79 url('../img/button-burger.svg') no-repeat 50% 50%;

      margin-right: 16px;
      @media (min-width: 769px) {
        margin: 0;
      }
    }
    &--close {
      border-radius: 50%;
      background: #ff3e79 url('../img/button-close.svg') no-repeat 50% 50%;

      margin-right: 16px;
      @media (min-width: 769px) {
        margin: 0;
      }
    }
    &--search {
      border-radius: 50%;
      background: #ff3e79 url('../img/button-search.svg') no-repeat 50% 50%;
    }
    &--phone {
      border-radius: 50%;
      background: #ff3e79 url('../img/button-phone.svg') no-repeat 50% 50%;
    }
    &--chat {
      border-radius: 50%;
      background: #ff3e79 url('../img/button-chat.svg') no-repeat 50% 50%;
    }
    &--profile {
      border-radius: 50%;
      background: #ff3e79 url('../img/button-profile.svg') no-repeat 50% 50%;
    }
    &--repair {
      border-radius: 50%;
      background: #ff3e79 url('../img/button-repair.svg') no-repeat 50% 50%;

      width: 40px;
      height: 40px;
      margin: 0 16px 0 20px;
      @media (min-width: 1440px) {
        margin: 0;
      }
    }
    &--checkstatus {
      border-radius: 50%;
      background: #ff3e79 url('../img/button-checkstatus.svg') no-repeat 50% 50%;

      width: 40px;
      height: 40px;
    }
    &--read-more {
      display: flex;
      align-items: center;
      height: 48px;
      width: 100%;
      column-gap: 8px;
      border: 0;
      background: none;
      p {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1b1c21;
      }
    }
    &--order {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: pink;
      padding: 4px;
      padding-left: 12px;
      width: 119px;
      height: 32px;
      background-color: #ff3e79;
      border-radius: 16px;
      p {
        font-size: 12px;
        line-height: 24px;
        letter-spacing: -0.15px;
        text-transform: uppercase;
        color: #fff;
      }
    }
  }
}
