.slider__container {
  padding-left: 16px;
  position: relative;
  width: 100%;
  @media (min-width: 768px) {
    padding-left: 24px;
  }
  & .button--name--read-more {
    display: none;
    @media (min-width: 768px) {
      display: flex;
    }
  }

  .slider {
    display: flex;
    transition: transform 0.5s ease;
    @media (min-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__item {
      margin-right: 16px;
      box-sizing: border-box;
      @media (min-width: 768px) {
        margin-right: 24px;
        margin-bottom: 16px;
      }
    }

    &__pagination {
      display: flex;
      justify-content: center;
      column-gap: 12px;
      margin-top: 16px;
      @media (min-width: 768px) {
        display: none;
      }
    }
    &__dot {
      cursor: pointer;
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #dddddd;
      transition: background-color 0.2s;

      &.active {
        background-color: #b5b6bc;
      }
    }
  }
}
