.about-us {
  position: relative;
  margin-bottom: 24px;
  padding: 0 16px;

  @media (min-width: 768px) {
    display: flex;
    column-gap: 6%;
    &--text {
      min-width: 312px;
      width: 47%;
    }
    &--img {
      min-width: 360px;
      width: auto;
      object-fit: scale-down;
    }
  }
  &--text {
    p {
      font-size: 14px; /* размер шрифта */
      line-height: 18px; /* межстрочный интервал */
      letter-spacing: 0.2px;
      color: $textColorMain;
      @media (min-width: 768px) {
        line-height: 20px;
      }
    }
  }
}
