@import '../var.scss';

.brands {
  margin-bottom: 24px;
  &__list {
    display: flex;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: transform 0.8s ease;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    li:first-child {
      margin-left: 16px;
    }
    li {
      margin-right: 16px;
    }

    &--link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 240px;
      height: 72px;
      padding: 16px;
      background: $bgColorAdditional;
      border: 1px solid $colorBorderSlider;
      border-radius: 6px;
    }
  }
}
