@import '../var.scss';

.button {
  cursor: pointer;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  &--name {
    &--burger {
      border-radius: 50%;
      background: $bgColorButton url('../img/button-burger.svg') no-repeat 50%
        50%;
    }
    &--repair {
      border-radius: 50%;
      background: $bgColorButton url('../img/button-repair.svg') no-repeat 50%
        50%;
    }
    &--checkstatus {
      border-radius: 50%;
      background: $bgColorButton url('../img/button-checkstatus.svg') no-repeat
        50% 50%;
    }
    &--read-more {
      display: flex;
      align-items: center;
      width: 100%;
      column-gap: 8px;
      border: 0;
      background: none;
      p {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: $textColorMain;
      }
    }
    &--order {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: pink;
      padding: 4px;
      padding-left: 12px;
      width: 119px;
      height: 32px;
      background-color: $bgColorButton;
      border-radius: 16px;
      p {
        font-size: 12px;
        line-height: 24px;
        letter-spacing: -0.15px;
        text-transform: uppercase;
        color: $textColorOrder;
      }
    }
  }
}
