@import '../var.scss';

.footer {
  text-align: center;
  padding-top: 17px;
  p {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $textColorAdditional;
    mix-blend-mode: normal;
    opacity: 0.72;
    &:last-child {
      margin-bottom: 19px;
    }
  }
}
