@import '../var.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 88px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: $bgColorAdditional;
  border-bottom: 1px solid #d9fff5;
  @media (min-width: 768px) {
    justify-content: space-between;
  }
  &--content {
    display: flex;
    align-items: center;
  }
  .button--name--burger {
    margin-right: 16px;
    @media (min-width: 768px) {
      margin: 0;
    }
  }
  .button--name--repair {
    margin: 0 16px 0 20px;
  }

  &__divider {
    width: 2px;
    height: 32px;
    background: #eaeaea;
    border-radius: 1px;

    &--left {
      display: none;
      @media (min-width: 768px) {
        display: block;
        margin: 0 20px;
      }
    }
  }
}
