.swiper {
  padding-left: 16px;
  padding-bottom: 44px;
  width: 512px;
  &--price-list {
    width: 552px;
  }
  &-pagination {
    padding-left: 16px;
    width: 100vw !important;
    @media (min-width: 512px) {
      width: 100% !important;
    }
    &-bullet {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #dddddd;
      transition: background-color 0.2s;
    }
  }
}
