@import '../var.scss';

.price {
  margin-bottom: 40px;
  &__list {
    display: flex;
    @media (min-width: 768px) {
      background: $bgColorAdditional;
      border-radius: 6px;
    }
    tbody {
      display: flex;
      @media (min-width: 768px) {
        flex-wrap: wrap;
      }
      tr {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: #eaeaea 1px solid;
        @media (min-width: 768px) {
          height: 64px;
          flex-wrap: nowrap;
        }
      }
      td {
        width: 100%;
        @media (min-width: 768px) {
          position: relative;

          &:nth-child(1),
          &:nth-child(3),
          &:nth-child(5) {
            display: none;
          }
          &:nth-child(2) {
            min-width: 40%;
            margin-right: auto;
          }
          &:nth-child(4),
          &:nth-child(6),
          &:nth-child(7) {
            display: flex;
            justify-content: center;
            width: 20%;
            min-width: 120px;
          }
        }
      }
    }
    &--item {
      position: relative;
      display: block;
      width: 260px;
      height: 200px;
      padding: 16px;
      background: $bgColorAdditional;
      border: 1px solid #eaeaea;
      border-radius: 6px;
      text-decoration: none;
      img {
        margin-top: auto;
      }
      @media (min-width: 768px) {
        width: 100%;
        padding: 23px;
        margin-bottom: 0 !important;
        border: none;
        background: none;
        border-radius: none;
      }
    }
    &--text {
      font-family: 'TT Lakes';
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: $textColorMain;
    }
    &--header {
      font-size: 14px;
      line-height: 16px;
      color: $textColorAdditional;
      mix-blend-mode: normal;
      opacity: 0.72;
      margin-bottom: 4px;
    }
    &--description {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.2px;
      color: $textColorMain;
      margin-bottom: 16px;
      @media (min-width: 768px) {
        margin-bottom: 0;
      }
      &:last-child {
        margin: 0;
      }
    }
    &--button {
      position: absolute;
      bottom: 16px;
      right: 16px;
      @media (min-width: 768px) {
        position: relative;
        top: 0;
        left: 0;
      }
    }
  }
  &__offer {
    margin-top: 16px;
    width: 100%;
    &--text {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: $textColorMain;
      margin: 0 16px;
      margin-bottom: 16px;
    }
    &--link {
      display: block;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: $textColorMain;
      text-decoration: none;
      margin: 0 16px;
      span {
        position: relative;
        width: 60%;
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          right: -24px;
          width: 24px;
          height: 24px;
          background: url(../img/button-more.svg) no-repeat 50% 50%;
        }
      }
    }
  }
}
