// global
@import '../fonts/fonts.css';

// components
@import './components/modal.scss';
@import './components/section-header.scss';
@import './components/slider.scss';
@import './components/read-more.scss';
@import './components/button.scss';
@import './components/blackout.scss';

// blocks
@import './blocks/header.scss';
@import './blocks/main.scss';
@import './blocks/main-nav.scss';
@import './blocks/about-us.scss';
@import './blocks/brands.scss';
@import './blocks/technique.scss';
@import './blocks/price.scss';
@import './blocks/footer.scss';

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'TT Lakes', sans-serif;
  color: #1b1c21;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  background-color: #f8f8f8;
}
p {
  margin: 0;
}
ul {
  padding: 0;
  list-style-type: none;
}
