@import './blocks/header.scss';
@import './blocks/main.scss';
@import './blocks/main-nav.scss';
@import './blocks/about-us.scss';
@import './blocks/button.scss';

@import '../fonts/fonts.css';
@import './var.scss';

body {
  margin: 0;
  font-family: 'TT Lakes', sans-serif;
  background-color: $bgColorMain;
}
p {
  margin: 0;
}
ul {
  padding: 0;
  list-style-type: none;
}
