$bgColorMain: #f8f8f8;
$bgColorAdditional: #ffffff;

$bgColorButton: #ff3e79;

$textColorMain: #1b1c21;
$textColorAdditional: #7e7e82;
$textColorOrder: #fff;

$colorBorder: #b8ffec;
$colorBorderSlider: #eaeaea;
$colorBorderAside: #41f6d7;
